@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Mono&display=swap');

.display {
	display: flex;
	justify-content: end;
	width: 8em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #7cfaab;
	font-family: 'Orbitron', sans-serif;
}