<style>
    .about-container {
        display: flex;
        height: 70vh;
        width: 50vw;
        justify-content: center;
        align-items: center;
        background-color: grey;
    }
</style>


<div class="about-container">
    <p>Hey it's me, James... lol</p>
</div>