<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/e0d17a9d-54ce-44db-b4c1-3e51a62c6ac5/resourceGroups/Identity-Back-End20220512212030ResourceGroup/providers/Microsoft.ApiManagement/service/Identity-Back-Endapi/apis/Identity-Back-End</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/e0d17a9d-54ce-44db-b4c1-3e51a62c6ac5/resourcegroups/Identity-Back-End20220512212030ResourceGroup/providers/Microsoft.Web/sites/Identity-Back-End20220512212900</ResourceId>
    <ResourceGroup>Identity-Back-End20220512212030ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://identity-back-end20220512212900.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6f770ded-d13f-4978-95cc-951bb86b2fa5</ProjectGuid>
    <PublishUrl>https://identity-back-end20220512212900.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Identity-Back-End20220512212900</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>