.navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 10%;
	background-color: lavender;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: lavender;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}